# LaTeX junk
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz
*.out

# Ignore the uncompressed StackOverflow data
*.sqlite

# IDE junk
*.sublime-*

# Python
__pycache__
*.pyc
/src/model.py
