# LaTeX junk
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz
*.out
*.dvi

# Ignore the uncompressed StackOverflow data
*.sqlite

# IDE junk
*.sublime-*

# Python
__pycache__
*.pyc
/baseline0/src/model.py

# Java
*.class
/man-parser/out

# Shell scripts
*.sh

# Database file
*.db
*.txt

# User-specific stuff:
baselines/man-parser/.idea/*

# Misc
MANIFEST
.DS_Store
*.key
eval.*
temp*.txt
*dump*.txt
spell.txt
manual.eval.results*
*beam_search.eval
beam_search*eval*
*.swp
*.swo
*.debug
/paper
/data/reader

# ideaJ file
.idea
*.iml

# production of intellij project
parsers/out/production/*

# User-specific stuff:
baselines/man-parser/.idea/*

# sensitive data
baselines/knn/data/*
data/bash/*
